
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    大家好，我是client1，当前登陆用户：@ViewBag.UserName
</div>
</body>
</html>
